@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #ffffff, #466173);
  font-family: "poppins";
  margin: 0;
}
body.dark-mode {
  background-image: linear-gradient(to bottom, #4d4b4b, #466173);
}
